<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Baños</title>

	<script src="prueba.js"></script>

</head>

<body>

	<h1>Tabla de Baño</h1>

	<form method="GET" action="/banio">

		<label for="nombre">Ingrese un nombre:</label>
		<input type="text" id="nombre" name="nombre">

		<button type="submit">Buscar</button>
	</form>

	<table>
		<thead>
			<tr>
				<th>ID Dispositivo</th>
				<th>Nombre</th>
				<th>Numero</th>
				<th>Medicion</th>
				<th>Dar de baja</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="banio : ${banios}">
				<td th:text="${banio.idDispositivo}"></td>
				<td th:text="${banio.name}"></td>
				<td th:text="${banio.bathroom_number}"></td>
				<td>
					<form th:action="@{/medicionBanio/create}" method="post">
						<input type="hidden" name="idBanio" th:value="${banio.idDispositivo}" />
						<button type="submit">Crear Medicion</button>
					</form>
				</td>
				<td>
					<form th:action="@{/banio/delete/{idBanio}(idBanio=${banio.idDispositivo})}" method="post">
						<input type="hidden" name="_method" value="DELETE" />
						<button type="submit">Dar de baja</button>
					</form>
				</td>
			</tr>
		</tbody>

		<a href="/banio/crear" class="btn btn-primary">Crear nuevo baño</a>
		<hr>
		<a href="/evento/eventosBanios" class="btn btn-primary">Mostrar eventos</a>
</body>

</html>