<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Create new Estacionamiento</title>
</head>

<body>

	<h1>Create new Estacionamiento</h1>
	<form th:action="@{/estacionamiento/create}" method="post" th:object="${estacionamiento}">

		<p>Name: <input type="text" th:field="*{name}" /></p>

		<p>Places:</p>
		<div th:each="place, iter : *{places}">
			<input type="number" th:field="*{places[__${iter.index}__]}" />
		</div>
		<input type="submit" value="Create Estacionamiento" />

	</form>
	
	<a href="/estacionamiento/show" class="btn btn-primary">Ver estacionamientos</a>
</body>

</html>
<!--
		<p>Places: <input type="number" th:field="*{places}" /></p>
		-->