<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Estacionamientos</title>

	<script src="prueba.js"></script>

</head>

<body>

	<h1>Tabla de Estacionamiento</h1>

	<form method="GET" action="/estacionamiento/show">
		<label for="fecha">Ingrese una fecha:</label>
		<input type="date" id="fecha" name="fecha">

		<label for="nombre">Ingrese un nombre:</label>
		<input type="text" id="nombre" name="nombre">

		<button type="submit">Buscar</button>
	</form>

	<table>
		<thead>
			<tr>
				<th>IdDispositivo</th>
				<th>Name</th>
				<th>Created_at</th>
				<th>Places</th>
				<th>Medicion</th>
			</tr>
		</thead>

		<tbody>
			<div id="estacionamientosContainer">
				<tr th:each="estacionamiento : ${estacionamientos}">
					<td th:text="${estacionamiento.idDispositivo}"></td>
					<td th:text="${estacionamiento.name}"></td>
					<td th:text="${estacionamiento.created_at}"></td>
					<td th:text="${#lists.toList(estacionamiento.places)}"></td>
					<td>
                    <form th:action="@{/medicionEstacionamiento/create}" method="post">
                        <input type="hidden" name="idEstacionamiento" th:value="${estacionamiento.idDispositivo}" />
                        <button type="submit">Crear Medicion</button>
                    </form>
                </td>
				</tr>
			</div>
		</tbody>
	</table>

	<a href="/estacionamiento/new" class="btn btn-primary">Crear nuevo estacionamiento</a>
</body>

</html>


