<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
    <title>Eventos de Estacionamientos</title>
</head>
<body>
    <h1>Eventos de Estacionamientos</h1>
    
 <table>
    <tr>
        <th>ID Evento</th>
        <th>Dispositivo ID</th>
        <th>Dispositivo Nombre</th>
        <th>Descripción</th>
        <th>Fecha y Hora</th>
    </tr>
    
    <!-- Iterar sobre los eventos y mostrarlos en filas de la tabla -->
    <th:block th:each="evento : ${eventos}">
        <tr>
            <td th:text="${evento.idEvento}"></td>
            <td th:text="${evento.dispositivo.idDispositivo}"></td>
            <td th:text="${evento.dispositivo.name}"></td>
            <td th:text="${evento.description}"></td>
            <td th:text="${evento.dateTime}"></td>
        </tr>
    </th:block>
</table>
    
    <a href="/estacionamiento/show" class="btn btn-primary">Volver</a>

</body>
</html>