<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Eventos de Estacionamientos</title>

    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/estilosEstacionamiento.css}"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.3/examples/product/"
    />
    <link
      href="/docs/5.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <style>
      .navbar {
        background-color: #343a40;
      }

      .nav-link {
        color: #fff;
      }

      .nav-link:hover {
        color: #adb5bd;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Smart City</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/index" class="btn text-white">Volver a Index</a>
            </li>
            
            <li class="nav-item">
              <a
                href="/evento/eventosBanios"
                class="btn text-white"
                th:if="${role != '[audit]'}"
                >Eventos de Banios</a
              >
            </li>
            
            <li class="nav-item">
              <a
                href="/evento/eventosAula"
                class="btn text-white"
                th:if="${role != '[audit]'}"
                >Eventos de Aula</a
              >
            </li>
            <li class="nav-item">
              <a
                href="/evento/todosLosEventos"
                class="btn text-white"
                th:if="${role != '[audit]'}"
                >Todos los eventos</a
              >
            </li>
            <a type="button" class="btn btn-danger" href="/logout">Logout</a>
          </ul>
        </div>
      </div>
    </nav>
    <div class="body1">
      <div class="body2">
        <h1>Eventos de Estacionamientos</h1>
      </div>
      <div>
        <form action="eventosEstacionamientos" method="GET">
          <label for="date">Fecha y Hora:</label>
          <input type="date" id="date" name="date" value="${param.dateTime}" />

          <label for="idDispositivo">ID Dispositivo:</label>
          <input
            type="number"
            id="idDispositivo"
            name="idDispositivo"
            value="${param.idDispositivo}"
          />

          <label for="description">Descripción:</label>
          <input
            type="text"
            id="description"
            name="description"
            th:value="${param.description}"
          />

          <input type="submit" class="btn btn-light" value="Buscar" />
        </form>
      </div>
    </div>
    <div class="bodyContainer">
      <div class="container">
        <table class="table_content">
          <thead>
            <tr>
              <th>ID Evento</th>
              <th>Dispositivo ID</th>
              <th>Dispositivo Nombre</th>
              <th>Descripción</th>
              <th>Fecha y Hora</th>
            </tr>
          </thead>

          <tbody>
            <!-- Iterar sobre los eventos y mostrarlos en filas de la tabla -->
            <tr th:each="evento : ${eventos}">
              <td th:text="${evento.idEvento}"></td>
              <td th:text="${evento.dispositivo.idDispositivo}"></td>
              <td th:text="${evento.dispositivo.name}"></td>
              <td th:text="${evento.description}"></td>
              <td th:text="${evento.dateTime}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
