<!-- crearMedicionEstacionamiento.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Crear Medicion de Estacionamiento</title>
</head>

<body>
	<h1>Crear Medicion de Estacionamiento</h1>

	<form th:action="@{'/medicionEstacionamiento/create'}" method="post" th:object="${medicionEstacionamiento}">
		<input type="hidden" name="idEstacionamiento" th:value="${idEstacionamiento}" />

		<!-- Otros campos del formulario -->
		<label for="placeNumber">Número de Plaza:</label>
		<input type="number" id="placeNumber" name="placeNumber" required />

		<label for="occupied">Ocupado:</label>
		<input type="checkbox" id="occupied" name="occupied" />

		<button type="submit">Crear</button>
	</form>
</body>

</html>